{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "target": {
          "browsers": "> 1%, IE 11,not op_mini all,not dead"
        },
        "corejs": "2.6.10"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime"
    ]
  ],
  "ignore": [
    "node_modules/**"
  ]
}