<html>
<head>
    <meta charset="UTF-8">
    <title>话务条</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <script src="/ctibar.js"></script>
    <link rel="stylesheet" href="./static/css/my.css">
    <script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/2.6.14/vue.js"></script>
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/vConsole/3.12.1/vconsole.min.js" type="application/javascript"></script>
    <link rel="stylesheet"
          href="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/element-ui/2.15.7/theme-chalk/index.min.css">
    <script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/element-ui/2.15.7/index.min.js"></script>

</head>

<body>
<div id="app">
    <div style="display:none;">
        <video id="audioView" autoplay></video>
    </div>


    <el-card class="my-softphone" :body-style="{padding: '0px'}">
        <el-row>
            <el-col :span="12">
                <div class="status">
<!--                    <el-tag :type="item.type" effect="dark">{{ item.label }}</el-tag>-->

                    <div v-if="!status_is_call && !status_is_ring">
                        <div v-show="!status_is_login" style="padding:10px 0 0 0px;">
                            分机未登录
                        </div>
                        <div v-show="status_is_login" style="padding:10px 0 0 0px;">
                            分机：<span class="number">{{ ext_number }}</span> 在线
                        </div>
                    </div>
                    <div v-else>
                        <div v-show="status_is_call || status_is_ring">
                            <div class="text">号码：<span class="number">{{ discaller }}</span>-><span
                                    class="number">{{ discallee }}</span></div>
                            <div class="text">时长：<span class="number">{{ calltime }}</span></div>
                        </div>
                    </div>
                </div>
            </el-col>

            <el-col :span="12">
                <div class="soft-function" :class="{disabled:!(status_is_ring && 'inbound' === call_type)}" @click="answer">
                    <i class="el-icon-phone-outline"></i>
                    <div class="text">接听</div>
                </div>

                <div class="soft-function" :class="{disabled:!(status_is_ring || status_is_call)}" @click="hungup">
                    <i class="el-icon-circle-close"></i>
                    <div class="text">挂断</div>
                </div>

                <div v-if="status_is_call" class="soft-function" :class="{disabled:!status_is_call}">
                    <div v-if="!status_is_hold" class="soft-function" :class="{hold:!status_is_hold}" @click="hold">
                        <i class="el-icon-circle-close"></i>
                        <div class="text">保持</div>
                    </div>
                    <div v-else class="soft-function" :class="{unhold:status_is_hold}" @click="unhold">
                        <i class="el-icon-circle-close"></i>
                        <div class="text">取回</div>
                    </div>
                </div>

                <div v-if="status_is_call" class="soft-function disabled">
                    <i class="el-icon-circle-close"></i>
                    <div class="text">转接</div>
                </div>

                <div v-if="!status_is_call" class="soft-function">
                    <div v-if="!status_is_login" class="soft-function" @click="login">
                        <i class="el-icon-s-promotion"></i>
                        <div class="text">登录</div>
                    </div>
                    <div v-else class="soft-function" @click="logout">
                        <i class="el-icon-circle-close"></i>
                        <div class="text">登出</div>
                    </div>
                </div>
            </el-col>

        </el-row>
    </el-card>

    <el-card v-show="status_is_login" class="config">
        <div>
            <el-input style="max-width: 80%" v-model="phone_number" placeholder="请输入外呼号码" ></el-input>
            <el-button :disabled="!status_is_login || status_is_ring || status_is_call" type="primary" icon="el-icon-phone" @click="makeCall"></el-button>
        </div>
        <div>
            <el-row>
                <el-col :span="8"><el-button class="number-card-button" @click="pressNumber(1)">1</el-button></el-col>
                <el-col :span="8"><el-button class="number-card-button" @click="pressNumber(2)">2</el-button></el-col>
                <el-col :span="8"><el-button class="number-card-button" @click="pressNumber(3)">3</el-button></el-col>
            </el-row>
            <el-row>
                <el-col :span="8"><el-button class="number-card-button" @click="pressNumber(4)">4</el-button></el-col>
                <el-col :span="8"><el-button class="number-card-button" @click="pressNumber(5)">5</el-button></el-col>
                <el-col :span="8"><el-button class="number-card-button" @click="pressNumber(6)">6</el-button></el-col>
            </el-row>
            <el-row>
                <el-col :span="8"><el-button class="number-card-button" @click="pressNumber(7)">7</el-button></el-col>
                <el-col :span="8"><el-button class="number-card-button" @click="pressNumber(8)">8</el-button></el-col>
                <el-col :span="8"><el-button class="number-card-button" @click="pressNumber(9)">9</el-button></el-col>
            </el-row>
            <el-row>
                <el-col :span="8"><el-button class="number-card-button" @click="pressNumber('*')">*</el-button></el-col>
                <el-col :span="8"><el-button class="number-card-button" @click="pressNumber(0)">0</el-button></el-col>
                <el-col :span="8"><el-button class="number-card-button" @click="pressNumber('#')">#</el-button></el-col>
            </el-row>
        </div>
    </el-card>

    <el-tabs v-show="!status_is_login" class="config" type="border-card" v-model="activeTabName">
        <el-tab-pane label="参数设置" name="base">
            <div>
                <el-form ref="form" size="mini" label-position="left" label-width="80px">
                    <el-form-item label="sip服务器">
                        <el-input type="text" v-model="configuration.host" clearable/>
                    </el-form-item>
                    <el-form-item label="sip端口">
                        <el-input type="text" v-model="configuration.port" maxlength="5" clearable/>
                    </el-form-item>
                    <el-form-item label="ssl">
                        <el-switch v-model="configuration.proto"/>
                    </el-form-item>
                    <el-form-item label="domain">
                        <el-input type="text" v-model="configuration.domain" placeholder="选填" clearable/>
                    </el-form-item>
                    <el-form-item label="分机号">
                        <el-input type="text" v-model="configuration.extNo" clearable/>
                    </el-form-item>
                    <el-form-item label="分机密码">
                        <el-input type="password" v-model="configuration.extPwd" clearable show-password/>
                    </el-form-item>
                    <el-form-item label="外呼号码">
                        <el-input type="text" v-model="phone_number" clearable/>
                    </el-form-item>



                    <el-form-item label="打洞">
                        <el-radio-group v-model="configuration.stun.type">
                            <el-radio label="stun">stun</el-radio>
                            <el-radio label="turn">turn</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="打洞host">
                        <el-input type="text" v-model="configuration.stun.host" clearable/>
                    </el-form-item>
                    <el-form-item v-if="configuration.stun.type==='turn'" label="username">
                        <el-input type="text" v-model="configuration.stun.username" clearable/>
                    </el-form-item>
                    <el-form-item v-if="configuration.stun.type==='turn'" label="password">
                        <el-input type="password" v-model="configuration.stun.password" clearable/>
                    </el-form-item>

                </el-form>
            </div>

            <div v-if="history_accounts.length>0">
                <el-divider content-position="left">历史账号</el-divider>
                <div>
                    <el-table :data="history_accounts" stripe style="width: 100%" size="mini" :show-header="false">
                        <el-table-column type="expand" width="15">
                            <template slot-scope="props">
                                <el-descriptions :column="1" size="mini" border>
                                    <el-descriptions-item label="服务器">{{ props.row.host }}:{{ props.row.port }}
                                    </el-descriptions-item>
                                    <el-descriptions-item label="domain">{{ props.row.domain }}</el-descriptions-item>
                                    <el-descriptions-item label="分机号">{{ props.row.extNo }}</el-descriptions-item>
                                    <el-descriptions-item label="密码">{{ props.row.extPwd }}</el-descriptions-item>
                                    <el-descriptions-item label="分享">{{ shareAccount(props.row) }}</el-descriptions-item>
                                </el-descriptions>
                            </template>
                        </el-table-column>
                        <el-table-column label="SERVER">
                            <template slot-scope="scope">
                                <span style="font-size: 14px">{{ scope.row.extNo }}@{{ scope.row.host
                                    }}:{{ scope.row.port }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" width="136">
                            <template slot-scope="scope">
                                <el-button-group>
                                    <el-button size="mini" type="primary" :disabled="status_is_login"
                                               @click="use_history_accounts(scope.row)">使用
                                    </el-button>
                                    <el-button size="mini" type="danger" :disabled="status_is_login"
                                               @click="del_history_accounts(scope.$index)">删除
                                    </el-button>
                                </el-button-group>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>

        </el-tab-pane>

        <el-tab-pane label="调试信息" name="test">
            <el-divider content-position="left">设备列表</el-divider>
            <li v-for="(device,index) in mediaDevices">
                {{device.kindText}}-{{device.label}}
            </li>

            <el-divider content-position="left">麦克风测试</el-divider>

            <el-row>
                <el-col :span="16">
                    <el-progress :text-inside="true" :stroke-width="24" :percentage="testMicrophoneVolume"
                                 status="success"></el-progress>
                </el-col>
                <el-col :span="8">
                    <el-button size="mini" type="danger" round v-if="testMicrophoneOb"
                               @click="testMicrophoneHandelStop">结束测试
                    </el-button>
                    <el-button size="mini" type="success" round v-else @click="testMicrophoneHandelStart">开始测试
                    </el-button>
                </el-col>
            </el-row>

            <el-divider content-position="left">耳机测试</el-divider>
            <audio style="height: 30px" controls="" :loop="false" :autoplay="false"
                   src="https://web.sdk.qcloud.com/trtc/webrtc/assets/testspeak.mp3"></audio>


        </el-tab-pane>

        <el-tab-pane label="使用说明" name="instructions">
            <div style="font-size: 10px">
                <h3>开源JS软电话</h3>
                <p>
                    历史账号使用localStorage本地存储，放心使用
                </p>
                <p>
                    GITHUB:<a target="_blank" href="https://github.com/xsdhy/softphone">https://github.com/xsdhy/softphone</a>
                </p>
            </div>
        </el-tab-pane>
    </el-tabs>
</div>
</body>

<script>
    //移动设备打开调试
    const device = navigator.userAgent
    if ( device.indexOf('Android') > -1 || device.indexOf('iPhone') > -1 || device.indexOf('iPad') > -1 || device.indexOf('ios') > -1) {
        var vConsole = new VConsole();
    }

    var app = new Vue({
        el: '#app',
        data() {
            return {
                activeTabName: "base",
                configuration: {
                    host: '',
                    port: '',
                    domain: '',
                    proto: true,
                    extNo: '',
                    extPwd: '',
                    stun:{
                        type:"stun",
                        host:"stun.xsdhy.com:3478",
                        username: '',
                        password: '',
                    },

                    autoRegister: false,
                    debug: false,
                    stateEventListener: this.stateEventListener
                },

                status_is_login: false,//是否登陆
                status_is_ring: false,//是否在振铃中
                status_is_call: false,//是否在拨打中
                status_is_hold: false,//是否在保持中

                call_type: '',//呼叫方向

                ext_number: "",//分机号
                discaller: "",//主叫号码
                discallee: "",//被叫号码
                phone_number: "",//呼出号码

                durtime: 0,//计时器
                calltime: '00:00:00',//计时器-格式化
                calltimeinter: null,//计时器-定时器,

                history_accounts: [],//历史账号列表
                lastAccount:"",//最后一次使用的账号配置

                networkSpeed: 0,//网速
                testMicrophoneOb: null,
                testMicrophoneVolume: 0,
                mediaDevices: null,
            }
        },
        created() {
            console.log("v1.1.0");
            let account = this.getQueryVariable("account")

            this.init_history_accounts();
            this.phone_number=localStorage.getItem("phone_number")

            Ctibar.getMediaDeviceInfo().then((res) => {
                this.mediaDevices = res;
            });
        },
        methods: {
            login() {
                console.log("点击登陆按钮");
                Ctibar.initSDK(this.configuration);
            },
            logout() {
                console.log("点击退出按钮")
                Ctibar.unregister()
            },
            answer() {
                console.log("点击应答按钮")
                Ctibar.answer()
            },
            hold() {
                console.log("点击保持按钮")
                Ctibar.hold()
            },
            unhold() {
                console.log("点击取消保持按钮")
                Ctibar.unhold()
            },
            makeCall() {
                console.log("点击拨打按钮")
                if (this.phone_number.length <= 2) {
                    alert("请输入要拨打的号码");
                    return
                }
                localStorage.setItem("phone_number",this.phone_number)
                this.discallee=this.phone_number
                Ctibar.makecall(this.phone_number.trim());
            },
            hungup() {
                console.log("点击挂断按钮");
                Ctibar.hangup()
            },
            //按键
            pressNumber(tone){
                //在通话中就发送
                if (this.status_is_call){
                    Ctibar.sendDtmf(tone);
                }else {
                    this.phone_number=this.phone_number+tone
                }
            },
            //事件回调
            stateEventListener(event, data) {
                console.log("收到事件", event, data);
                switch (event) {
                    case "REGISTERED":
                        this.status_is_login = true;
                        break;
                    case "UNREGISTERED":
                        this.status_is_login = false;
                        this.status_is_hold = false;
                        this.status_is_ring = false;
                        this.status_is_call = false;
                        break;
                    case "INCOMING_CALL":
                        this.playRingMedia()
                    case "OUTGOING_CALL":
                        console.log("来电", data.direction)
                        this.startTimerCall();
                        this.status_is_ring = true;
                        this.call_type = data.direction;
                        this.discaller = data.otherLegNumber;
                        this.discallee = this.ext_number;
                        break;
                    case "IN_CALL":
                        this.startTimerCall();
                        this.stopPlayRingMedia();
                        this.status_is_ring = false;
                        this.status_is_call = true;
                        this.status_is_hold = false;
                        break;
                    case "CALL_END":
                        this.stopTimerCall();
                        this.stopPlayRingMedia();
                        this.status_is_ring = false;
                        this.status_is_call = false;
                        this.status_is_hold = false;
                        break;
                    case "HOLD":
                        this.status_is_hold = true;
                        break;
                    case "UNHOLD":
                        this.status_is_hold = false;
                        break;
                    case "MUTE":
                        this.status_is_mute = true;
                        break;
                    case "UNMUTE":
                        this.status_is_mute = false;
                        break;
                    case "CONNECTED":
                        //已连接
                        this.save_history_accounts()
                        this.ext_number = data.localAgent;
                        Ctibar.register()
                        break;
                    case "DISCONNECT":
                        break;
                    case "RECONNECT":
                        break;
                    case "REGISTER_FAILED":
                        //alert(data.msg);
                        break;
                    default:
                        console.log("未处理事件")
                }
            },
            //启动计时器
            startTimerCall() {
                if (this.calltimeinter) {
                    clearInterval(this.calltimeinter);
                    this.calltime = "00:00:00";
                    this.durtime = 0;
                }
                this.calltimeinter = setInterval(() => {
                    this.timerCall();
                }, 1000)
            },
            //停止计时器
            stopTimerCall() {
                if (this.calltimeinter) {
                    clearInterval(this.calltimeinter);
                    this.calltime = "00:00:00";
                    this.durtime = 0;
                }
            },
            //计时器
            timerCall() {
                this.durtime++;
                var sec = this.durtime % 60;
                if (sec < 10) {
                    sec = "0" + sec;
                }
                var min = Math.floor((this.durtime % (60 * 60)) / 60);
                if (min < 10) {
                    min = "0" + min;
                }
                var hour = Math.floor(this.durtime / (60 * 60));
                if (hour < 10) {
                    hour = "0" + hour;
                }
                this.calltime = hour + ":" + min + ":" + sec
            },
            //播放挂机铃声
            playHangupMedia() {
                const _this = this;
                var hangupAudio = document.getElementById("hangupMediaAudioId")
                if (!hangupAudio) {
                    hangupAudio = document.createElement('audio');
                    hangupAudio.id = 'hangupMediaAudioId';
                    hangupAudio.hidden = true;
                    hangupAudio.src = './static/wav/hangup.wav'
                    document.body.appendChild(hangupAudio);
                }
                hangupAudio.play();
            },
            //播放来电振铃
            playRingMedia() {
                const _this = this;
                _this.stopPlayRingMedia();

                var ringAudio = document.getElementById("ringMediaAudioId")
                if (!ringAudio) {
                    ringAudio = document.createElement('audio');
                    ringAudio.id = 'ringMediaAudioId';
                    ringAudio.hidden = true;
                    ringAudio.src = './static/wav/ring.wav';
                    ringAudio.loop = 'loop';
                    document.body.appendChild(ringAudio);
                }
                ringAudio.play();
            },
            //停止播放来电振铃
            stopPlayRingMedia() {
                const _this = this;
                var ringAudio = document.getElementById("ringMediaAudioId");
                if (ringAudio) {
                    document.body.removeChild(ringAudio);
                }
            },

            //初始化历史账号，每次页面重新打开的时候执行
            init_history_accounts() {
                let history_accounts = localStorage.getItem("history_accounts")
                if (null != history_accounts) {
                    this.history_accounts = JSON.parse(history_accounts)
                }
                if (this.history_accounts.length<=0){
                    return;
                }

                //查看最后一次使用的账号是什么，若有则使用
                let lastAccount=localStorage.getItem("lastAccount")
                if (lastAccount===""){
                    this.use_history_accounts(this.history_accounts[0])
                    return
                }
                for (let index = 0; index < this.history_accounts.length; index++) {
                    let id = this.history_accounts[index].extNo+"@"+this.history_accounts[index].host+":"+this.history_accounts[index].port;
                    if (lastAccount===id) {
                        this.use_history_accounts(this.history_accounts[index])
                        break
                    }
                }
            },
            //使用历史账号
            use_history_accounts(item) {
                console.log("使用历史账号:", item)
                this.configuration.host = item.host;
                this.configuration.port = item.port;
                this.configuration.proto = item.proto;
                this.configuration.domain = item.domain;
                this.configuration.extNo = item.extNo;
                this.configuration.extPwd = item.extPwd;
                if (item.stun){
                    this.configuration.stun = item.stun;
                }
            },
            //分享历史账号
            shareAccount(item){
                return window.btoa(JSON.stringify(item))
            },
            //删除历史账号
            del_history_accounts(i) {
                if (this.history_accounts.length > 0) {
                    this.history_accounts.splice(i)
                    localStorage.setItem("history_accounts", JSON.stringify(this.history_accounts))
                }
            },
            //保存账号:登录成功的时候执行
            save_history_accounts() {
                let is_add = true;
                for (let index = 0; index < this.history_accounts.length; index++) {
                    if (this.history_accounts[index].host === this.configuration.host && this.history_accounts[index].extNo === this.configuration.extNo) {
                        is_add = false;
                        this.history_accounts[index].host = this.configuration.host;
                        this.history_accounts[index].port = this.configuration.port;
                        this.history_accounts[index].proto = this.configuration.proto;
                        this.history_accounts[index].domain = this.configuration.domain;
                        this.history_accounts[index].extNo = this.configuration.extNo;
                        this.history_accounts[index].extPwd = this.configuration.extPwd;
                        this.history_accounts[index].stun = this.configuration.stun;
                    }
                }
                if (is_add) {
                    this.history_accounts.push({
                        host: this.configuration.host,
                        port: this.configuration.port,
                        proto: this.configuration.proto,
                        domain: this.configuration.domain,
                        extNo: this.configuration.extNo,
                        extPwd: this.configuration.extPwd,
                        stun: this.configuration.stun,
                    })
                }
                localStorage.setItem("lastAccount", this.configuration.extNo+"@"+this.configuration.host+":"+this.configuration.port)
                localStorage.setItem("history_accounts", JSON.stringify(this.history_accounts))
            },
            //麦克风音量检测-开始
            testMicrophoneHandelStart() {
                Ctibar.testMicrophone((volume) => {
                    this.testMicrophoneVolume = volume
                }).then((res) => {
                    this.testMicrophoneOb = res;
                });
            },
            //麦克风音量检测-结束
            testMicrophoneHandelStop() {
                if (this.testMicrophoneOb) {
                    this.testMicrophoneOb.yes();
                    this.testMicrophoneVolume = 0;
                    this.testMicrophoneOb = null;
                }
            },
            //网速检测
            testNetworkHandel() {
                //window.location.host+'/static/images/test-network-speed.jpg'
                Ctibar.testNetwork().then((networkSpeed) => {
                    this.networkSpeed = networkSpeed;
                    console.log("测速:", this.getFileSize(networkSpeed))
                });
            },
            //文件大小可视化
            getFileSize(size) {//把字节转换成正常文件大小
                if (!size) return "";
                size = size * 1024;
                var num = 1024.00; //byte
                if (size < num)
                    return size + "B";
                if (size < Math.pow(num, 2))
                    return (size / num).toFixed(2) + "KB/S"; //kb
                if (size < Math.pow(num, 3))
                    return (size / Math.pow(num, 2)).toFixed(2) + "MB/S"; //M
                if (size < Math.pow(num, 4))
                    return (size / Math.pow(num, 3)).toFixed(2) + "G/S"; //G
                return (size / Math.pow(num, 4)).toFixed(2) + "T/S"; //T
            },
            //获取get参数
            getQueryVariable(variable) {
                let query = window.location.search.substring(1);
                 let vars = query.split("&");
                for (let i=0;i<vars.length;i++) {
                    let pair = vars[i].split("=");
                    if(pair[0] === variable){return pair[1];}
                }
                return false;
            }
        }
    });
</script>
</html>


<style>
    .number-card-button{
        width: 100%;
    }
    .config {
        margin-top: 0.5rem;
        max-width: 500px;
    }
    /*表单行间距缩小*/
    .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
        margin-bottom: 5px;
    }
    .el-form-item {
        margin-bottom: 5px;
    }
</style>
