
.my-softphone * {
    outline: none;
}

.my-softphone .status {
    height: 2.9rem;
    margin-top: 0.3rem;

    outline: none;
    white-space: nowrap;
    max-width: 150px;
    min-width: 120px;

    border-radius: 3px;
    float: left;
    cursor: not-allowed;
    color: #acacac !important;
}
.my-softphone .number {
    max-width: 150px;
    overflow: hidden;
}

.my-softphone .status .text {
    line-height: 22px;
}

.my-softphone {
    top: 0;
    left: 0;
    height: 3.6rem;
    max-width: 475px;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 50px;
    padding: 0 5px 0 20px;
}

.my-softphone .soft-function {
    width: 2rem;
    height: 2.9rem;
    margin-top: 0.3rem;
    margin-right: 1.2rem;

    text-align: center;
    border-radius: 3px;
    float: left;
    cursor: pointer;
}

.my-softphone .soft-function:hover {
    background-color: rgba(0, 0, 0, .10);
}

.my-softphone .soft-function.disabled {
    cursor: not-allowed;
    color: #acacac !important;
}

.my-softphone .soft-function i {
    font-size: 1.6rem;
}

.my-softphone .soft-function .text {
    font-size: 1rem;
}

.my-softphone .soft-function .soft-function {
    margin: 0 !important;
}

